footer {
  height: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-navbar);
  color: #fff;
  height: 50px;
  width: 100vw;
}

.box1 {
  border: 3px solid var(--color-logo);
  border-radius: 20%;
  background-color: var(--color-background-button);
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer img {
  width: auto;
  height: 30px;
  color: var(--color-logo);
  margin-right: 15px;
}

.test {
  margin-top: auto;
}

#footer {
  margin-top: auto;
  /* position: absolute;
  bottom: 0; 
  width: 100%;
  height: 100px;  */
}
footer a {
  text-decoration: none;
  color: #fff;
}
