
    
body{
    background-color: #e3d4d5;
}
/*.container{
    width: 40vw;
    height: 40vw;
    clip-path: ellipse(50% 50%);
}*/
.photo1{
    display: flex;
   
    width: 40vw;
    height: 40vw;
    clip-path: ellipse(50% 50%);

}
.photo2{
    display: flex;
    align-content: center;
     width: 40vw;
     height: 40vw;
     clip-path: ellipse(50% 50%);
 }
 .photo3{
     display: flex;
     width: 40vw;
     height: 40vw;
     clip-path: ellipse(50% 50%);
 }

 .photo4{
    display: flex;
     width: 40vw;
     height: 40vw;
     clip-path: ellipse(50% 50%);
 }

 .photo5{
    display: flex;
     width: 40vw;
     height: 40vw;
     clip-path: ellipse(50% 50%);
 }

.p{
    size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
} 
 
     