.container {
  background-color: var(--color-background-pages);
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
}

.container div {
  /*background-color: var(--color-background-button);*/
  padding: 5px;
  margin: 5px;
}
.sub-contenair {
  display: flex;
  justify-content: space-around;
}

.photoProfile {
  text-align: center;
}

.photoProfile img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 1rem black;
  transition: box-shadow 0.5s;
}

.photoProfile img:hover {
  box-shadow: -0.5rem 0.5rem 1rem black;
  transition: box-shadow 0.5s;
}

.photoPerso {
  text-align: center;
}

.photoPerso img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 1rem black;
  transition: box-shadow 0.5s;
}

.photoPerso img:hover {
  box-shadow: -0.5rem 0.5rem 1rem black;
  transition: box-shadow 0.5s;
}

.boxinfo {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.boxinfo > a > img {
  width: 16px;
  height: auto;
}

/* .boxBio {
  grid-column: 1/3;
  text-align: center;
} */

@media screen and (width > 572px) {
  .container {
    margin: 2vw 30vw;
    /* font-size: 1.5rem; */
    grid-template-rows: 1fr 1.8fr 1fr;
  }
  .boxperso,
  .photoPerso {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
