/* Réinitialisation des marges et des rembourrages pour le corps de la page */
body {
  margin: 0;
  padding: 0;
}

/* Style pour le conteneur principal avec la classe "container" */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin: 68px 1rem 2rem 1rem;
}

/* Réglage du style pour les écrans larges */
@media screen and (min-width: 993px) {
  .credit-div {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

/* Styles pour les titres de niveau 2 et 3, centrés */
h2,
h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style pour le logo */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style pour le conteneur de la carte Google Maps */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

/* Style pour l'iframe de la carte Google Maps à l'intérieur du conteneur */
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10%;
}

/* Style pour l'élément avec la classe "location" */
.location {
  margin-bottom: 40px;
}
