body {
  margin: 0;
  padding: 0;
}

.indexcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin: 68px 1rem 2rem 1rem;
}

@media screen and (width > 992px) {
  .credit-div {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

h2,
h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10%;
}

.location {
  margin-bottom: 40px;
}
