body {
  padding-top: 0;
  padding-left: 0;
  margin: 0;
}

table {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  justify-content: center;
  align-items: flex-start;
}

h1,
h2 {
  text-align: center;
}

img {
  cursor: pointer;
  height: 6rem;
  border-radius: 50%;
}

@media (max-width: 685px) {
  table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  img {
    height: 4rem;
  }
}
