@import url(variables.css);
* {
  box-sizing: border-box;
}
body {
  /*min-height: 100vh;*/
  /*width: 100vw; */
  background-color: var(--color-background-pages);
  margin: 0;
  padding: 0;
  margin-top: 68px;
}
main {
  min-height: calc(100vh - 60px - 50px);
}
h1 {
  color: var(--color-font-h1);
  font-family: var(--font-h1);
  font-size: var(--font-size-h1);
}

h2 {
  font-family: var(--font-h2);
  font-size: var(--font-size-h2);
}
h3 {
  font-family: var(--font-h3);
  font-size: var(--font-size-h3);
}
p {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
}

/* @media screen and (width > 576px) {
  body {
    margin: 0 10vw;
  }
}
@media screen and (width > 768px) {
  body {
    margin: 0 20vw;
  }
}
@media screen and (width > 992px) {
  body {
    margin: 0 30vw;
  }
}
@media screen and (width > 1200px) {
  body {
    margin: 0 30vw;
  }
} */
/* 
576px;
  --width-tablet: 768px;
  --width-laptop: 992px;
  --width-screen: 1200px; */

@media screen and (min-width: 686px) {
  .bravoImage {
    height: 70vh;
    width: auto;
  }
}
