@import url(generalStyle.css);
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
main > img {
  border-radius: 33%;
  width: 100%;
}
