/* Ce style centre le texte dans un élément h1 */
h1 {
  display: grid;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/* Ce style réinitialise les styles h1 pour les écrans larges */
@media screen and (min-width: 686px) {
  h1 {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
}

/* Ce style définit le conteneur principal */
#container {
  min-width: 100%;
  height: 87vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ce style définit les cartes (éléments avec la classe "field") */
.field {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  margin: 8px;
}

/* Ce style ajuste la taille des cartes pour les écrans larges */
@media screen and (min-width: 686px) {
  .field {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 993px) {
  .field {
    width: 90px;
    height: 90px;
  }
}

/* Ce style ajoute une marge au conteneur */
#container {
  margin-top: 60px;
}

/* Ce style spécifie la taille et l'ajustement de l'image à l'intérieur des cartes */
.field img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
