@import url(generalStyle.css);

body {
  min-height: 100vh;
}
h1 {
 text-align: center;
}
@media screen and (min-width: 1200px) {
  h1{
    margin-bottom: 0vw;
  }
}

p {
text-align: left;
margin-top: 10vw;
margin-bottom: 5vw;
justify-content: center;
text-align: center;
}

@media screen and (min-width: 1200px) {
  p {
    margin-top: 2vw;
    margin-bottom: 0vw;
    font-size: 25px;
  } 
}

field{
  display : flex;
  position: relative;
  max-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: flex-start;
}

form {
 display: flex;   
  flex-direction: column;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
  }

  @media screen and (min-width: 1200px) {
    form {
    margin-top: 0;
    } 
  }

label
{padding-top: 3vw;
font-size: 25px;
color: rgb(205, 118, 118);

}

@media screen and (min-width: 1200px) {
  label {
    font-size: 35px; 
  }
}

input
 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  border: none;
}



textarea {
  padding : 40px;
  border-radius: 3px;
  border: none;
}

.cta {
  /* color: black;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;*/
  width: 35%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;


}
