:root {
  --color-background-pages: #e3d4d5;
  --color-background-button: #bea695;
  --color-background-navbar: #42354a;
  --color-bagkground-footer: var(var(--color-background-navbar));
  --color-logo: #ed6c6d;
  --color-border: var(var(--color-logo));
  --color-font-h1: black;

  --font-h1: @import
    url(‘https://fonts.googleapis.com/css2?family=Roboto&display=swap’);
  --font-h2: @import
    url(‘https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap’);
  --font-h3: var(--font-h2);
  --font-text: @import
    url(‘https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap’);

  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 1.5rem;
  --font-size-text: 1rem;

  /*Points de ruptures
  
    576px pour les téléphones portables (portrait)
    768px pour les tablettes
    992px pour les ordinateurs portables
    1200px pour les écrans de grande taille
  */
  --width-phone-landscape: 576px;
  --width-tablet: 768px;
  --width-laptop: 992px;
  --width-screen: 1200px;
}
